{% extends "base.html" %}
{% block content %}
{% if data%}
    {% for data in data %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ data[1] }}</a>
              <small class="text-muted">{{ data[2] }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ 'test title' }}</a></h2>
            <p class="article-content">{{ data[0] }}</p>
          </div>
        </article>
    {% endfor %}
    {%else%}
    <h1>kichu nai</h1>
    {%endif%}
{% endblock content %}